# external files
.DS_Store
*.pyc
*.swp
*~

# cmake files
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

# build files
*.a
*.so
*.dll
*.dylib
*_Test
*_Test_Jeffs
SimpleAbcViewer
abcview
/build/vs2010/x64
/build/vs2012/x64
/maya/deploy
/contrib
/Libs
/output
*.sdf
